body{
    margin: 0;
    font-family: Poppins;
}
.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
svg{
    width: 30px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title{
    font-size: xx-large;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}

/* cart */
.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
.all-content{
    background: #f7f5f2;
}
html ::-webkit-scrollbar-track{
    background: transparent;
}
html ::-webkit-scrollbar-thumb{
    background: #b2744c;
    border-radius: 10px;
}
html ::-webkit-scrollbar{
    width: 10px

}
/* navbar start */
#navbar{
    background-color: #b2744c;
}
#logo img{
    border-radius: 10px;
    width: 160px;
    margin-left: 40px;
}
.navbar-nav{
    margin-left: 50px;
}
.nav-item .nav-link{
    color: black;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.5s;
}
.nav-item .nav-link:hover{
    background: #f7f5f2;
    border-radius: 5px;
    color: black;
}
#navbar form button{
    background: black;
    color: white;
    border: 1px solid white;
}
/*navbar end */





/* home selection start */
#home{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(Home\ page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 88%;
}
#home .content{
    padding-top: 210px;
    margin-left: 56px;
}
#home .content h3{
    font-size: 50px;
    color: white;
}
#home .content p{
    margin-top: 10px;
    color: white;
}
#btn{
    width: 150px;
    height: 36px;
    margin-top: 20px;
    background: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn:hover{
    background:#b2744c;
    color: white;
}
/* home selection end */








/* about section start */
#about{
    width: 100%;
    height: 100vh;
}
#about .container{
    padding-top: 70px;
}
.heading{
    text-align: center;
    margin-bottom: 50px;
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.heading span{
    color:#b2744c;
}
#about .card{
    border-radius: 10px;
}
#about .card img{
    border-radius: 10px;
}
#about-btn{
    width: 200px;
    height: 36px;
    background: transparent;
    border: 2px solid #b2744c;
    color: #b2744c;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}
#about-btn-hover{
    background-color:#b2744c;
    color: white;
}
@media screen and (max-width:982px){
    #about p{
        font-size: 8px;
    }
}
@media screen and (max-width:766px){
    #about p{
        font-size: 15px;
    }
    #about{
        height: 120vh;
    }
}
/* about section end */








/* top cards start */
#top-cards{
    width: 100%;
    /* height: 60vh; */
    background: #f7f5f2;
}
.heading2{
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.heading2 span{
    color: #b2744c;
}
#top-cards .container{
    margin-top: 30px;
}
#top-cards .card{
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
#top-cards .card img{
    border-radius: 10px;
}
#top-cards .card:hover{
    transform: translateY(-10px);
}
/* top cards end */









/* product section start */
#product{
    width: 100%
}
.heading4{
    text-align: center;
    color: #b2744c;
    font-size: 30px;
    padding-top: 100px;
    font-weight: bold;
    border-bottom: 2px solid #b2744c;
}
#container3{
    margin-top: 30px;
}
#product h3{
    text-align: center;
    color:#b2744c;
    font-size: 23px;
}
#product p{
    text-align: center;
    color: #b2744c;
    padding-top: 10px;
}
#product p span{
    float: right;
    cursor: pointer;
}
/* product section end */





/* our gallery start */
#gallery{
    width: 100%;
}
.heading5{
    text-align: center;
    color: black;
    margin-top: 60px;
    font-weight: bold;
}
#gallery .headings5 span{
    color: #b2744c;
}
#gallery .card{
    border-radius: 10px;
    cursor: pointer;
}
#gallery .card img{
    border-radius: 10px;
}





/*contact start */
#contact{
    width: 100%;
    height: 100vh;
    padding-top: 70px;
}
#contact .container{
    width: 100%;
    height: 80vh;
    background: linear-gradient(90deg, white 80%, #b2744c 20%);
    border-radius: 10px;
}
.heading6{
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px;
}
.heading6 span{
    color: #b2744c;
}
#contact p{
    font-weight: bold;
    font-size: 13px;
    color: black;
}
#contact input{
    width: 360px;
    border: none;
    border-bottom: 1px solid #b2744c;
}
#contact-btn{
    width: 200px;
    height: 36px;
    border: none;
    background: #b2744c;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
}
#col{
    width: 40%;
    height: 56vh;
    background: black;
    margin-top: 78px;
}
#contact h1{
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}
#contact #col p{
    font-size: 15px;
    color: white;
    margin-left: 13px;
    margin-top: 30px;
}
@media screen and (max-width:766px){
    #contact .container{
        background: white;
    }
    #col{
        width: 100%;
        background: #b2744c;
    }
}
@media screen and(max-width:400px){
    #contact input{
        width: 250px;
    }
}
/* contact end */


/* blogs start */
#blogs{
    width: 100%;
}
#blogs .heading7{
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bold;
}
#blogs .heading7 span{
    color: #b2744c;
}
#blogs .container{
    margin-top: 60px;
}
#blogs h5{
    color: #b2744c;
}
#blog-btn{
    width: 200px;
    height: 36px;
    border: none;
    color: white;
    background: #b2744c;
}